@charset "UTF-8";

* {  
  margin:0;  /* 브라우저 기본 마진 리셋 */
  padding:0;  /* 브라우저 기본 패딩 리셋 */
  box-sizing: border-box;  /* 테두리까지 포함해서 박스 모델 너비로 계산 */
}
#container {
  width:auto;   /* 내용 전체의 너비 */
  margin:20px auto;  /* 내용을 화면 가운데 배치하도록 좌우 마진을 auto로 */
  position: relative;
}
#header{
  width:100%;  /* 부모 요소의 너비와 똑같게 */
  height:120px;  /* 헤더의 높이 */
}
#sidebar{
  width:12%;  /* 사이드바의 너비 */
  height:750px;  /* 사이드바의 높이 */
  float:left;  /* 왼쪽으로 플로팅 */
  padding:20px;
  background-color:#f4f4f4;
  opacity: 0.8;
}
#contents {
  width:88%;  /* 본문의 너비 */
  height:750px;  /* 본문의 높이 */
  padding:20px;
  background-color:#f8f8f8;
  opacity: 0.9;
  float:left;  /* 왼쪽으로 플로팅 */
}
#footer {
  width:100%;  /* 부모 요소의 너비와 똑같게  */
  height:100%;  /* 푸터의 높이 */
  background-color:#e5e5e5;
  opacity: 0.8;
  padding:30px;
  text-align: right;
  bottom: 0;
    left: 0;
  clear:left;  /* 플로팅 해제 */
}

#homeMenu {
	list-style:none;
	font-size: 18px;
	color : #434343;
}